
/* =======================================================================
	Contact
========================================================================== */
.button-contact {
	flex-center();
	border: 2px solid $palette['black'];
	border-radius: $BORDER_RADIUS;
	width: 320px;
	height: 60px;
	font-size: 16px;
}
