block config-block
  -
    root_directory = './';
    config = {
      site_name: 'Helloworld',
      description: 'base description',
      keywords: ['test'],
      site_url: 'https://example.jp'
    };
