body {
  color: #000;
  font-family: 'Noto Sans JP', '游ゴシック体', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  // font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', unquote("メイリオ"), Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  // font-family: unquote("游ゴシック体"), "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", unquote("メイリオ"), Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  // font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  &.fix {
    overflow: hidden;
    height: 100%;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}

figure {
    line-height: 0;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
