
/*-------------------------------------------------------------------------
	Common
/*-----------------------------------------------------------------------*/
#all {
}

.wrap {
	max-width: $LW;
	margin: 0 auto;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {

}

/*-------------------------------------------------------------------------
	Global navi
/*-----------------------------------------------------------------------*/
#global-navi {
	.anchor-list {
		display: flex;
		li {
			a {
				&.active {
					color: red;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------
	Footer
/*-----------------------------------------------------------------------*/
#footer {
	text-align: center;
	.copylight {
		font-size: 12px;
	}
}
