
/*-------------------------------------------------------------------------
	Common
/*-----------------------------------------------------------------------*/
#all {
}

.wrap {
	max-width: $LW;
	margin: 0 auto;
	+small-layout() {
		margin: 0 $SP_CONTENT_PADDING;
	}
}

.only-pc {
    +small-layout() {
        display: none !important;
    }
}

.only-sp {
    +desktop-layout() {
        display: none !important;
    }
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {
}

/*-------------------------------------------------------------------------
	Globalnavi
/*-----------------------------------------------------------------------*/
.globalnavi {
	&-pages {
		display: flex;
		li {
			a {
				&.active {
					color: red;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------
	Footer
/*-----------------------------------------------------------------------*/
#footer {
	text-align: center;
	.copylight {
		font-size: 12px;
	}
}
