/*-------------------------------------------------------------------------
	Utils
/*-----------------------------------------------------------------------*/
max-mediaquery($width) {
	@media (max-width: $width) {
		{block}
	}
}

large-layout() {
  @media (min-width: $LW) {
    {block}
  }
}

middle-layout() {
  @media (min-width: $MW) and (max-width: ($LW - 1)) {
    {block}
  }
}

small-layout() {
  @media (max-width: ($MW - 1)) {
    {block}
  }
}

desktop-layout() {
  @media (min-width: $MW) {
    {block}
  }
}

/*-------------------------------------------------------------------------
	Layout
/*-----------------------------------------------------------------------*/
flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

after-clearfix() {
	&:after {
		display: block;
		content: "";
		visibility: hidden;
		clear: both;
	}
}

last-clear-margin-bottom() {
	&:last-child {
		margin-bottom: 0;
	}
}

/*-------------------------------------------------------------------------
	Text
/*-----------------------------------------------------------------------*/
text-justify() {
	text-align: justify;
	text-justify: inter-ideograph;
}

/*-------------------------------------------------------------------------
	Background
/*-----------------------------------------------------------------------*/
background-stripe($colorA,$colorB=transparent) {
	background-image: linear-gradient(
		-45deg,
		$colorB,
		$colorB 25%,
		$colorA 26%,
		$colorA 50%,
		$colorB 51%,
		$colorB 75%,
		$colorA 76%,
		$colorA 100%
	);
}

/*-------------------------------------------------------------------------
	Animation
/*-----------------------------------------------------------------------*/
hover-opacity($value=.8, $second=.2s, $easing=ease-in-out) {
	transition: opacity $second $easing;
  +desktop-layout() {
    &:hover {
      opacity: $value;
    }
  }
}
