/*-------------------------------------------------------------------------
	Size
/*-----------------------------------------------------------------------*/
// http://gs.statcounter.com/screen-resolution-stats/all/japan/

$LLW = 1920px;
$LW  = 1280px;
$MW  = 768px;
$SW  = 375px;
$SSW = 320px;

/*-------------------------------------------------------------------------
	Model
/*-----------------------------------------------------------------------*/
$BORDER_RADIUS = 3px;

/*-------------------------------------------------------------------------
	Color palette
/*-----------------------------------------------------------------------*/
$palette = {
    'black':#000,
    'white':#fff,

    'dark-087':rgba(0,0,0,0.87),
    'dark-054':rgba(0,0,0,0.54),
    'dark-026':rgba(0,0,0,0.26),
    'dark-012':rgba(0,0,0,0.12),

    'alto-020':rgba(0,0,0,0.2),
    'alto-010':rgba(0,0,0,0.1),
    'light-100':rgba(255,255,255,1),
    'light-070':rgba(255,255,255,.70),
    'light-030':rgba(255,255,255,.30),
    'light-012':rgba(255,255,255,.12),

    'primary-50':#000,

    'accent-50':#000
}
