@charset "utf-8";

@import "../../common/import.styl";

/*-------------------------------------------------------------------------
	Contents
/*-----------------------------------------------------------------------*/
#main {
  display: block;
}
